.container{
    display: flex;
    flex-wrap: wrap;
    gap:32px;
    
}
.elementos{
    display: flex;
    align-items: center;
    gap: 130px;
}
.logo{
    margin-left: 10%;
    display: flex;
    align-items: center;
    gap:8px;
    flex-grow:3;

}
.textLogo{
    color: #C92071;
    flex:none
}
.navegacao{
    display: flex;
    align-items: center;
    gap:40px;
    flex-grow: 9;
    
}
.buscar{
    padding:10px;
    background-color: #f5f5f5;
    display: flex;
    gap:300px;
    align-items: center;
    border-radius: 5px;

}
.inputBuscar{
    border: none;
    background-color: #f5f5f5;
    outline: none;
    
}
.linkCadastrar{
    flex: none;
    color:  #474747;

}
.entrar{
    background-color: #C92071;
    color: #F5F5F5;
    border: none;
    border-radius: 10px;
    width: 114px;
    height: 40px;
}
.botaoCarrinho{
    border: none;
    background-color: #ffffff;
}
.divLinks{
    display: flex;
    margin-left: 9%;
    width: 100%;
    gap: 32px;
}
.links{
    text-decoration-line: none;
    color:  #474747;

}
