.infPessoais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 13px;
    width: 750px;
    height: 538px;    
    background: #FFFFFF;
    border-radius: 4px;
    margin-left: 101px;
}

.ftitulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    letter-spacing: 0.75px;
    margin-bottom: -20px;
}

.fhr {
    width: 690px;
    border: 1px solid #CCCCCC;
}

.finfo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #474747;
}

.finput {
    width: 690px;
    height: 60px;
    background: #d5d5d5;
    border-radius: 8px;
    border: none;
    opacity: 0.4;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #666666;
    padding-left: 12px;
}

.infEntrega {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 13px;
    width: 750px;
    height: 538px;    
    background: #FFFFFF;
    border-radius: 4px;
    margin-left: 101px;
    margin-top: 10px;
}