@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer {
    background-color: #1f1f1f;
}

.conteudo {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 72px;

}

.sobre {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}

.informacao {
    color: white;
}

.categorias {
    color: white;
}

.contato {
    color: white;
}

.dc {
    color: white;
}