@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer {
    background-color: #1f1f1f;
}

.conteudo {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 72px;
    justify-content: space-between;
    gap: 20px;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.descricao {
    width: 307px;
}

.informacao {
    color: white;

}

.categorias {
    color: white;
}

.contato {
    color: white;
}

.local {
    width: 231px;
}

.dc {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 20px;
}

.titulo {
    font-size: 18px;
    padding-bottom: 28px;
}

.hr {
    color: #ffffff;
    width: 87%;
    margin: 0 auto;
}

.texto:hover {
    cursor: pointer;
}