@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer {
    background-color: #1f1f1f;
}

.conteudo {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 72px;
    justify-content: space-between;
    gap: 20px;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.dclogo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.digistore {
font-weight: 600;
letter-spacing: -0.01em;

}

.descricao {
    width: 307px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.categorias {
    color: white;
    font-family: 'Inter';
    font-style: normal;
}

.local {
    width: 231px;
}

.dc {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.titulo {
    font-size: 18px;
    padding-bottom: 28px;
}

.hr {
    color: #ffffff;
    width: 87%;
    margin: 0 auto;
}

.texto:hover {
    cursor: pointer;
}

.redes {
    display: flex;
    gap: 35.5px;
}