.box-construcao{
    display: flex;
    gap:30px;
    margin: 50px 50px 50px 150px;
}

.img-construcao{
    box-shadow: 6px 16px 30px rgba(105, 98, 98, 0.3);
    border-radius: 4px;
    width: 500px;
    height: 391px;
}

.p-construcao{
    margin-top: 10px;   
    width: 82%;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #474747;
}

.span-construcao{
    width:30px;
}
