@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.bannerf {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 300px;
    padding-bottom: 106px;

}


.ofertat {
    width: 589px;
    height: 341px;

}

.veroferta {
    background: #C92071;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    left: 0px;
    top: 0px;
    border: none;
    color: #F5F5F5
}

.p {
    color:#C92071;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 17px;
}

.Jordan {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #474747;
    padding-bottom: 20px;
}

.lorem {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #474747;
}

.elipse {
    position: relative;
    width: 466px;
    height: 466px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 100%);
}