
.button{
    background-color: #ffffff;
    display: flex;
    justify-items: center;
    border-radius: 50%;
    border: none;
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px;
}

.texto{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
}