.artic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  margin-top: 50px;
  margin-bottom: 123px;

}

.estilo {
  width: 82%;
  margin: 0 auto;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #474747;
}

.pcenter {
  text-align: center;
}

.categ-box{
  margin-top: 100px;
}

.categ{
    display: flex;
    justify-content: center;
    gap:48px;
}
 
.banners{
    display: flex;
    justify-content: center;
    gap:16px;
}

svg:hover path {
  fill: #C92071;
}

@media screen and (max-width: 992px) {
  
.banners{
  display: flex;
  flex-wrap: wrap;
   gap: 10px;
}
}
